@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.cover {
  width: 100%;
  border-radius: 40px;
  padding: 8px;
  background-color: var(--grey-200);
  box-shadow: var(--elevation--100);
}
.cover img {
  width: 100%;
  object-fit: stretch;
  border-radius: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.settings {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
